@import "../../global.scss";
.testimonial {
    background: #3C3B3F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display:flex;
    align-items: center;
    flex-direction: column;

    @include mobile {
        justify-content:space-around;
     }

    h1 {
        font-size: 50px;

        @include mobile {
            font-size: 20px;
         }
    }

    .container {
        width:100%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile {
            flex-direction: column;
            height: 100%;
         }

        .card {
            width: 250px;
            height: 70%;
            border-radius:10px;
            box-shadow: 0px 0px 15px -8px black;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            padding: 20px;
            transition: all 1s ease;


            @include mobile {
                height: 180px;
                margin: 10px 0;
             }
            
            &.featured {
                width: 300px;
                height: 75%;
                margin: 0 30px;

                @include mobile {
                    width: 300px;
                    height:75%;
                    margin: 1px;
                 }
            }
            &:hover {
                transform: scale(1.1)
            }
            
            .top {
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    &.left {
                        height: 25px;
                    }
                    &.user {
                        height: 60px;
                        width: 60px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin: 0 30px;


                        @include mobile {
                            width: 30px;
                            height: 30px;
                         }
                    }

                }
            }
            .center {
                padding: 10px;
                border-radius: 10px;
                background-color: pink;

                @include mobile {
                    font-size: 12px;
                    padding: 5px;
                 }
            }
            .bottom {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h3{
                    margin-bottom:5px;

                    @include mobile {
                        font-size: 14px;
                     }
                }
            }

        }
    }
}